* {
  box-sizing: border-box;
}

body {
  background-color:#BAD1EB;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color:#715B71;
}

h1 {
  font-size: 1.1em;
}

.music-player {
  height: 80vh;
  width: 25vw;
  min-width: 300px;
  box-shadow: 5px 18px 28px #715B71;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cd {
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  height: 160px;
  width: 160px;
  margin-top: 40px;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;

  background:
          linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0,
          linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%,
          repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
}

.cd::after {
  position: absolute;
  top: 50%; left: 50%;
  margin: -35px;
  border: solid 1px #d9a388;
  width: 68px; height: 68px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #da5b33,
  inset 0 0 0 27px #da5b33;
  background: #b5ac9a;
  content: '';
}

.music-player.play .cd {
  animation-play-state: running;
}

.greeting-para {
  font-weight: 700;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 95%;
}

.progress {
  background-color: #C51745;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 2em;
}

.action-btn {
  background-color: #BAD1EB;
  border:none;
  border-radius: 50%;
  color: #715B71;
  font-size: 28px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn:focus {
  outline: 0;
}

.title {
  color: black;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
